<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="auth-page">
    <main class="auth-container">
        {{{body}}}
    </main>
</body>
</html>
