{{> layoutHeader title="Login"}}
<form method="POST" action="/auth/login">
  <div>
    <label>Email or Username</label>
    <input name="login" required>
  </div>
  <div>
    <label>Password</label>
    <input type="password" name="password" required>
  </div>
  {{#if error}}<p style="color:red">{{error}}</p>{{/if}}
  <button type="submit">Login</button>
</form>
{{> layoutFooter}}
